<div class="col s12 m6 header">
    <span id="title">
        <center>WILDAN FAJAR PURNOMO</center>
    </span>
    <span id="tagline">
        <center>Welcome and thank you!</center>
    </span>
</div>