<div class="col s12 m4 l3 navigation">
    <img id="foto" src="./public/assets/313321.jpg" alt="Foto">
    <br>
    <div class="linkNav">
        <span class="col s12" id="linkAbout"><a href="/" style="color: white;">About</a></span>
        <br>
        <span class="col s12" id="linkSkills"><a href="/skills" style="color: white;">Skills</a></span>
        <br>
        <span class="col s12" id="linkHobbyInterest"><a href="/interests" style="color: white;">Hobby & Interests</a></span>
        <br>
        <span class="col s12" id="linkProjRepo"><a href="/projects" style="color: white;">Projects</a></span>
    </div>
</div>