<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>

    <!-- body css -->
    <link rel="stylesheet" href="./public/assets/style.css" type="text/css">
    <!-- content css -->
    <link rel="stylesheet" href="./public/assets/content.css" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css" />
</head>

<body>
    <div class="container">
        <!-- include header template -->
        <% include partials/header.ejs %>

        <br>

        <div class="layout">
            <div class="row tes">
                <!-- include navigation template -->
                <% include partials/nav.ejs %>
                <div class="col s12 m8 l9 content">
                    <div>
                        <h1 class="right-align" id="contentTitle">WHAT INTERESTS ME?</h1>
                    </div>
                    <hr>
                    <div class="contentTextContainer">
                        <h4>Onna (Re: Woman)</h4>
                        <p>I'm a boy after all.</p>

                        <h4>Musics and Songs</h4>
                        <p>Piano musics and Japanese songs are my favorites.</p>

                        <h4>Monster Stuff</h4>
                        <p>
                            I always like monster films. I'm looking forward for upcoming Godzilla movie.
                        </p>

                        <h4>Game</h4>
                        <p>
                            Dota, enough said.
                        </p>

                        <h4>Others</h4>
                        <p>
                            I love anime. For outside activity, it's cycling. When semester break I always spent one
                            day to cycling around my hometown,
                            Sidoarjo.
                        </p>
                    </div>
                </div>

            </div>
        </div>


    </div>


</body>

</html>