<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    
    <!-- body css -->
    <link rel="stylesheet" href="./public/assets/style.css" type="text/css">
    <!-- content css -->
    <link rel="stylesheet" href="./public/assets/content.css" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hk-grotesk" type="text/css" />
</head>

<body>
    <div class="container">
        <!-- include header template -->
        <% include partials/header.ejs %>

        <br>

        <div class="layout">
            <div class="row tes">
                <!-- include navigation template -->
                <% include partials/nav.ejs %>
                <div class="col s12 m8 l9 content">
                    <div>
                        <h1 class="right-align" id="contentTitle">WHAT CAN I DO?</h1>
                    </div>
                    <hr>
                    <div class="contentTextContainer">
                        <h4>Delivery</h4>
                        <p>Delivered 19 letters in just 2 weeks.</p>

                        <h4>Math</h4>
                        <p>I'm confident that I have good knowledges at math and physics.</p>

                        <h4>Programming</h4>
                        <p>
                            I have been building programs using C, C# and Java. For web development, PHP,
                            Node.js, also database technologies such as MySQL and (little) PgSQL. I also know how
                            web works as well as its security issues.
                        </p>

                        <h4>Software</h4>
                        <p>
                            Microsoft Word and Microsoft PowerPoint. For developing, Visual Studio Code and
                            Visual Studio Enterprise. For designing, I experienced using Figma.
                        </p>

                        <h4>Language</h4>
                        <p>
                            Indonesian, English and little Japanese.
                        </p>
                    </div>
                </div>

            </div>
        </div>


    </div>


</body>

</html>